body {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    width: 100%;
}

#header {
    display: flex;
    flex-direction: column;
    width: 50rem;
    padding: 1rem;
    background-color: #f4f4f4;
}

#stackedbar {
    min-height: 30rem;
    background-color: #e0e0e0;
    margin-bottom: 1rem;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.buttons button {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #0056b3;
}

#map {
    width: 100%;
    height: 100vh;
    background-color: #d0d0d0;
}

#stackedbarlimit {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#input {
    width: 5rem;
    padding: 0.5rem;
    margin-right:5rem ;
    border: 1px solid #ccc;
    border-radius: 4px;
}